@media(prefers-color-scheme: dark) {
  body {
    color: #D4D4D4;
    background: #1E1E1E;
  }
  .input-text {
    color: #D4D4D4;
  }
}

.option {
  margin-bottom: 1rem;
}
.option-label {
  font-size: medium;
}

.example {
  opacity: 0.7;
}

.input-text {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 6px 4px;
  outline: none;
  width: 200px;
  font-size: 16px;
}